@media screen and (max-width: 1000px) 
{
    .App {
        height: 1200pt;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        background-image: url('../image/bg2.png');
      }
      .avatar {
        height: 600pt;
        width: 100vw;
        background-color: rgba(192, 245, 179, 0.295);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
      .avatar>p  
      {
        text-align: center;
        font-size: 300%;
        font-weight: bold;
        color: aliceblue;
      }
      .imgAvatar{
        width: 300px;
        border-radius: 50%; 
      } 
      .bntContact
      {
        width: 200px;
        height: 40px;
        border-radius: 15px;
        border-color: aliceblue;
        border-width: 2px;
        background-color: rgba(10, 113, 247, 0.76);
        font-size: 18px;
        color: aliceblue;
        font-weight: bold;
        font-family: Tahoma;
      }
      .infor {
        height: 600pt;
        width: 100vw;
        background-color: rgba(174, 221, 248, 0.295);
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
      }
}